:root {
  // Colors
  --color-primary-light: #bbe4ff;
  --color-primary-medium: #0068b7;
  --color-primary-dark: #004265;
  --color-secondary-light: #ffd4bb;
  --color-secondary-medium: #ff5e00;
  --color-secondary-dark: #8a3600;
  --color-light-gray: #c2c2c2;
  --color-medium-gray: #777;
  --color-dark-gray: #333;
  --color-error-red: #cb0000;
  --color-warning-yellow: #ffae00;
  --color-success-green: #09af00;
  --color-white: #fff;

  // Header
  --header-height: 70px;
}
