<bch-dc-header title="Bart's Dictionary"
               [buttons]="headerButtons">
</bch-dc-header>

<bch-dc-side-menu [sideMenuWidth]="270"
                  [headerHeight]="70"
                  [modeOverlap]="sideMenuDisplayModes.ADJACENT"
                  [isVisible]="true">
  <app-documentation-side-menu-list *ngIf="navigationLinks.DOCUMENTATION  | isIncludedIn : currentPageForFilters"></app-documentation-side-menu-list>
  <app-about-app-side-menu-content *ngIf="navigationLinks.ABOUT_LIBRARY  | isIncludedIn : currentPageForFilters"></app-about-app-side-menu-content>
</bch-dc-side-menu>

<div id="content-container">
  <router-outlet></router-outlet>
</div>


<!--<bch-dc-header title="Bart's Dictionary"-->
<!--               [buttons]="headerButtons">-->
<!--</bch-dc-header>-->

<!--<div id="container">-->
<!--  <bch-dc-side-menu [sideMenuWidth]="270"-->
<!--                    [headerHeight]="70"-->
<!--                    [displayMode]="sideMenuDisplayModes.ADJACENT"-->
<!--                    [isVisible]="true">-->
<!--    <app-component-side-menu-list *ngIf="currentPageForFilters === navigationLinks.DOCUMENTATION"></app-component-side-menu-list>-->
<!--    <app-about-app-side-menu-content *ngIf="currentPageForFilters === navigationLinks.ABOUT_LIBRARY"></app-about-app-side-menu-content>-->
<!--  </bch-dc-side-menu>-->

<!--  <div id="content-container">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--</div>-->
