/* You can add global styles to this file, and also import other style files */
@import 'bch-dc-styles';

@mixin header-before($text-color: $color-medium-gray, $color-light: $color-primary-light, $color-dark: $color-primary-medium) {
  &.documentation {
    color: $text-color;
    position: relative;
    text-indent: 25px;
    background-image: linear-gradient(to right, $color-white, $color-light);

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 2px;
      height: 100%;
      border-left: solid $color-light 4px;
      border-right: solid $color-dark 9px;
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: calibri, sans-serif;
}

h1 {
  margin-bottom: 40px;

  @include header-before($color-black, $color-secondary-light, $color-secondary-medium);
}

h2 {
  margin-bottom: 30px;

  @include header-before($color-black, $color-primary-light, $color-primary-medium);
}

pre {
  margin: 0;
  max-height: inherit;
  overflow: hidden;
}
