@import 'bch-dc-styles';

$color-code-background: #333;

:host {
  code {
    display: block;
    position: relative;
    margin-bottom: 15px;
    background-color: $color-code-background;
    color: white;
    padding: 15px;
    max-height: 6rem;
    overflow: hidden;
    transition: all .3s ease-out;

    bch-dc-circle-button {
      float: right;
      transform: rotate(90deg);
      transition: transform .7s ease-out;
    }

    &.opened {
      max-height: 2000px;
      transition: all .7s ease-out;

      bch-dc-circle-button {
        transform: rotate(270deg);
      }
    }

    @include breakpoint-mobile {
      font-size: .8rem;
      max-height: 4.7rem;
    }
  }
}
